.sidebarItem {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
  border: 2px solid transparent;
  margin-left: 4%;
  width: 90%;
}

.sidebarItem:hover {
  background-color: #50504D;
  border-radius: 10px;
  width: 90%;
  margin-left: 4%;
}

.active {
  background-color: #50504D;
  border-radius: 10px;
  width: 90%;
  margin-left: 4%;
}

.icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.label {
  color: #fff;
  font-size: 1vw;
}