@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  font-family: Poppins, sans-serif;
}

.border {
  border-radius: 30px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  /* Added shadow for border */
}

.w {
  width: 80%;
}

.inputContainer {
  position: relative;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #6A6D71;
}

.form-control {
  padding-left: 40px;
}

.errorBorder {
  border-color: red !important;
  border-width: 2px !important;
}

.errorMessage {
  color: #ff4d4d;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #ffe6e6;
  padding: 8px;
  border-radius: 5px;
}

.dangerIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: red;
  font-size: 1.5em;
}

/* Add this to login.module.css */

.loginButton {
  padding: 10px;
  background: linear-gradient(90deg, #331373 0%, #0773DC 50%);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.loginButton:hover {
  background: linear-gradient(90deg, #0773DC 0%, #331373 50%);
}


.googleButton {
  background-color: #F8F9FA;
  border: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
  color: rgba(106, 109, 113, 1); 
}

.googleButton:hover {
  background-color: #f1f1f1;
}

.googleButton:focus {
  outline: none;
}